* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-style: 16rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border: 1px solid #2e80ce;
    border-radius: 99px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background-color: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* Header */
.header {
    min-height: 100vh;
    background-color: var(--header-bg);
    padding-top: 30px;
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-style: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.header-action__login:hover,
.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -1px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 700;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
    width: 468px;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px 18px 20px 22px;
    border-radius: 10px;
    background: #ffffff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 19px;
    border-radius: 50%;
    background: #eff6fd;
    color: #10375c;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item:hover .service-item__icon {
    background-color: #2e80ce;
    color: #fff;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* Work */
.work {
    background-color: #f7fbff;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 70px;
}

.work-item {
    padding: 44px 42px 43px;
    border: solid 16px #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding-right: 58px;
    padding-bottom: 121px;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */
.member {
    margin: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background-color: #eaf6ff;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}

.member-item__title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

.member__control {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}

.member__control-btn {
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    color: #575f66;
    transition: 0.25s;
}

.member__control-btn:hover {
    border-color: #2e80ce;
    background-color: #2e80ce;
    color: #fff;
    cursor: pointer;
}

.member__control-next-icon {
    rotate: 180deg;
}
